.form-check {
  &:not(.form-check-inline) {
    align-items: center;
    display: flex;

    label {
      &::before {
        margin-right: $form-check-input-margin-x;
      }
    }
  }

  label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: $font-weight-normal !important;
    letter-spacing: 0.81px;
    padding: 4px 0;

    &::before {
      background-color: $white;
      border: 1px solid $gray-300;
      border-radius: $border-radius;
      color: transparent;
      content: '';
      display: block;
      height: 1rem;
      margin-right: $form-check-inline-input-margin-x;
      position: relative;
      top: -1px;
      transition: $transition-base;
      transition-duration: .2s;
      width: 1rem;
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $gray-400;
      }
    }
  }

  input {
    height: 1px;
    left: -99999px;
    opacity: 0;
    position: fixed !important;
    visibility: hidden;
    width: 1px;

    &[type=radio] {
      & ~ label {
        &::before {
          border-radius: 50%;
        }
      }
    }

    &[type=checkbox] {
      & ~ label {
        &::before {
          align-items: center;
          content: $ba-check;
          display: flex;
          font-family: $icomoon-font-family;
          font-size: 0.5em;
          justify-content: center;
        }
      }
    }

    &:checked {
      & ~ label {
        color: $primary;

        &::before {
          background-color: $primary;
          border-color: $primary;
          color: $white;
        }
      }

      &[type=radio] {
        & ~ label {
          &::before {
            box-shadow: inset .15em .15em 0 $white, inset -.15em -.15em 0 $white, inset -.15em .15em 0 $white, inset .15em -.15em 0 $white;
          }
        }
      }

      &[type=chekbox] {
        & ~ label {
          &:hover,
          &:focus {
            &::before {
              background-color: $gray-400;
              border-color: $gray-400;
              color: $primary;
            }
          }
        }
      }
    }

    &:disabled {
      & ~ label {
        cursor: default;
        opacity: 0.5;

        &::before {
          background-color: $gray-400 !important;
          border-color: $gray-400 !important;
        }
      }
    }
  }
}
