.form-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem $grid-gutter-width;

  .btn {
    margin: 0;
    min-width: 240px;

    &.btn-link {
      line-height: $input-height;
    }
  }

  div {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .btn {
      min-width: 0;
      width: 100%;

      & + .btn {
        margin-top: .3rem;
      }
    }

    div {
      flex-direction: column;

      & + div {
        margin-top: .3rem;
      }
    }
  }
}
