@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

$card-item-padding-h: 16px;
$card-item-padding-v: 30px;
$card-item-padding-h-tablet-small: 20px;
$card-item-padding-v-tablet-small: 40px;
$card-item-padding-h-desktop: 26px;
$card-item-padding-v-desktop: 50px;

.card-item {
  background-color: $color-background-accent;
  box-shadow: none;
  border-radius: 0;
  position: relative;
  transition: $transition-base;
  overflow: hidden;

  &:hover {
    box-shadow: $shadow-long-hover;
  }

  .card-content {
    cursor: pointer;
  }

  .card-chip {
    font-size: 9px;
    font-style: italic;
    font-weight: $font-w-regular;
    line-height: 16px;
    display: block;
    padding: 0 12px;
    border-radius: 8px;
    background-color: $color-accent;
    position: absolute;
    top: 12px;
    left: $card-item-padding-h;

    @media all and (min-width: $screen-tablet-small) {
      font-size: 10px;
      line-height: 22px;
      border-radius: 11px;
      top: 14px;
      left: $card-item-padding-h-tablet-small;
    }

    @media all and (min-width: $screen-desktop) {
      top: 16px;
      left: $card-item-padding-h-desktop;
    }
  }

  figure {
    overflow: hidden;
    max-height: 550px;
    margin: 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .content {
    font-size: 14px;
    padding: $card-item-padding-v $card-item-padding-h 30px;

    .title {
      font-size: 24px;
      line-height: 1.2;
      font-weight: $font-w-bold;
      margin-top: 0;
      margin-bottom: 10px;
      max-height: 4 * 1.2em;
      overflow: hidden;
    }

    .summary {
      color: $color-grey-400;
      margin: 0;
      line-height: 1.3;
      max-height: 3 * 1.3em;
      overflow: hidden;
    }

    .link {
      display: block;
      margin-top: 20px;
      color: $color-primary;
      text-decoration: none;
      @extend %ellipsis;
    }

    @media all and (min-width: $screen-tablet-small) {
      padding: $card-item-padding-v-tablet-small $card-item-padding-h-tablet-small 30px;

      .title {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }

    @media all and (min-width: $screen-desktop) {
      font-size: 18px;
      padding: $card-item-padding-v-desktop $card-item-padding-h-desktop 30px;

      .title {
        font-size: 34px;
      }
    }
  }

  .card-actions {
    padding: 0 $card-item-padding-h $card-item-padding-v;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-grey-600;
    font-size: 13px;

    .primary-actions {
      display: flex;
      align-items: center;

      & > * + * {
        margin-left: 9px;
      }

      .comments-btn {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          margin-left: 13px;
        }
      }
    }

    @media all and (min-width: $screen-tablet-small) {
      padding: 0 $card-item-padding-h-tablet-small $card-item-padding-v-tablet-small;

      .primary-actions {
        & > * + * {
          margin-left: 11px;
        }
      }
    }

    @media all and (min-width: $screen-desktop) {
      padding: 0 $card-item-padding-h-desktop $card-item-padding-v-desktop;
      font-size: 14px;

      .primary-actions {
        & > * + * {
          margin-left: 18px;
        }

        .comments-btn {
          span {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .comments {
    background-color: #1F2329;
    color: $color-grey-600;
    padding: $card-item-padding-v $card-item-padding-h 0;

    @media all and (min-width: $screen-tablet-small) {
      padding: $card-item-padding-v $card-item-padding-h-tablet-small 0;
    }

    @media all and (min-width: $screen-desktop) {
      padding: $card-item-padding-v $card-item-padding-h-desktop 0;
    }
  }
}
