@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$font-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.eot?4r3tko');
  src: url('#{$font-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.eot?4r3tko#iefix') format('embedded-opentype'),
  url('#{$font-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.ttf?4r3tko') format('truetype'),
  url('#{$font-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.woff?4r3tko') format('woff'),
  url('#{$font-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.svg?4r3tko##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-netex {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $font-size-icon;

  &.icon-small {
    font-size: $font-size-icon-small;
  }

  &.icon-medium {
    font-size: $font-size-icon-medium;
  }

  &.icon-big {
    font-size: $font-size-icon-big;
  }
}

.mat-icon {
  &.icon-netex {
    height: auto;
    width: auto;
  }
}

.icon-pathway {
  &:before {
    content: $icon-pathway;
  }
}

.icon-scanning {
  &:before {
    content: $icon-scanning;
  }
}

.icon-save-solid {
  &:before {
    content: $icon-save-solid;
  }
}

.icon-move {
  &:before {
    content: $icon-move;
  }
}

.icon-index-off {
  &:before {
    content: $icon-index-off;
  }
}

.icon-index {
  &:before {
    content: $icon-index;
  }
}

.icon-columns-solid {
  &:before {
    content: $icon-columns-solid;
  }
}

.icon-columns {
  &:before {
    content: $icon-columns;
  }
}

.icon-unlock-solid {
  &:before {
    content: $icon-unlock-solid;
  }
}

.icon-chat-bubble-smile {
  &:before {
    content: $icon-chat-bubble-smile;
  }
}

.icon-cross-circle {
  &:before {
    content: $icon-cross-circle;
  }
}

.icon-flag-greece .path1 {
  &:before {
    content: $icon-flag-greece-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-greece .path2 {
  &:before {
    content: $icon-flag-greece-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-greece .path3 {
  &:before {
    content: $icon-flag-greece-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-greece .path4 {
  &:before {
    content: $icon-flag-greece-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-greece .path5 {
  &:before {
    content: $icon-flag-greece-path5;
    margin-left: -1em;
    color: rgb(63, 81, 181);
  }
}

.icon-flag-greece .path6 {
  &:before {
    content: $icon-flag-greece-path6;
    margin-left: -1em;
    color: rgb(63, 81, 181);
  }
}

.icon-flag-greece .path7 {
  &:before {
    content: $icon-flag-greece-path7;
    margin-left: -1em;
    color: rgb(63, 81, 181);
  }
}

.icon-apple {
  &:before {
    content: $icon-apple;
  }
}

.icon-border-all {
  &:before {
    content: $icon-border-all;
  }
}

.icon-border-down {
  &:before {
    content: $icon-border-down;
  }
}

.icon-border-left {
  &:before {
    content: $icon-border-left;
  }
}

.icon-border-right {
  &:before {
    content: $icon-border-right;
  }
}

.icon-border-up {
  &:before {
    content: $icon-border-up;
  }
}

.icon-city-berlin {
  &:before {
    content: $icon-city-berlin;
  }
}

.icon-city-tokyo {
  &:before {
    content: $icon-city-tokyo;
  }
}

.icon-city-vegas {
  &:before {
    content: $icon-city-vegas;
  }
}

.icon-city-vienna {
  &:before {
    content: $icon-city-vienna;
  }
}

.icon-redo-filled {
  &:before {
    content: $icon-redo-filled;
  }
}

.icon-undo-filled {
  &:before {
    content: $icon-undo-filled;
  }
}

.icon-desktop {
  &:before {
    content: $icon-desktop;
  }
}

.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}

.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}

.icon-redo {
  &:before {
    content: $icon-redo;
  }
}

.icon-tablet {
  &:before {
    content: $icon-tablet;
  }
}

.icon-undo {
  &:before {
    content: $icon-undo;
  }
}

.icon-versions {
  &:before {
    content: $icon-versions;
  }
}

.icon-face-sad {
  &:before {
    content: $icon-face-sad;
  }
}

.icon-editor-audio-gallery-item {
  &:before {
    content: $icon-editor-audio-gallery-item;
  }
}

.icon-editor-audio-gallery {
  &:before {
    content: $icon-editor-audio-gallery;
  }
}

.icon-editor-close-button {
  &:before {
    content: $icon-editor-close-button;
  }
}

.icon-editor-glossary-links-item {
  &:before {
    content: $icon-editor-glossary-links-item;
  }
}

.icon-editor-help-popup {
  &:before {
    content: $icon-editor-help-popup;
  }
}

.icon-editor-project-data-link {
  &:before {
    content: $icon-editor-project-data-link;
  }
}

.icon-editor-popup-single {
  &:before {
    content: $icon-editor-popup-single;
  }
}

.icon-editor-show-search {
  &:before {
    content: $icon-editor-show-search;
  }
}

.icon-editor-show-close-button {
  &:before {
    content: $icon-editor-show-close-button;
  }
}

.icon-editor-scorm-player {
  &:before {
    content: $icon-editor-scorm-player;
  }
}

.icon-editor-logo {
  &:before {
    content: $icon-editor-logo;
  }
}

.icon-editor-interactive-timeline-item {
  &:before {
    content: $icon-editor-interactive-timeline-item;
  }
}

.icon-editor-glossary-popup {
  &:before {
    content: $icon-editor-glossary-popup;
  }
}

.icon-editor-downloads-popup {
  &:before {
    content: $icon-editor-downloads-popup;
  }
}

.icon-users-plus {
  &:before {
    content: $icon-users-plus;
  }
}

.icon-pencil-circle-dotted {
  &:before {
    content: $icon-pencil-circle-dotted;
  }
}

.icon-flag-catalonia .path1 {
  &:before {
    content: $icon-flag-catalonia-path1;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-catalonia .path2 {
  &:before {
    content: $icon-flag-catalonia-path2;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-catalonia .path3 {
  &:before {
    content: $icon-flag-catalonia-path3;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-catalonia .path4 {
  &:before {
    content: $icon-flag-catalonia-path4;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-catalonia .path5 {
  &:before {
    content: $icon-flag-catalonia-path5;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-circle-90 {
  &:before {
    content: $icon-circle-90;
  }
}

.icon-circle-180 {
  &:before {
    content: $icon-circle-180;
  }
}

.icon-circle-270 {
  &:before {
    content: $icon-circle-270;
  }
}

.icon-circle-360 {
  &:before {
    content: $icon-circle-360;
  }
}

.icon-compass {
  &:before {
    content: $icon-compass;
  }
}

.icon-davinci {
  &:before {
    content: $icon-davinci;
  }
}

.icon-organisation-chart {
  &:before {
    content: $icon-organisation-chart;
  }
}

.icon-teacher {
  &:before {
    content: $icon-teacher;
  }
}

.icon-user-clipboard {
  &:before {
    content: $icon-user-clipboard;
  }
}

.icon-hard-disk {
  &:before {
    content: $icon-hard-disk;
  }
}

.icon-user-less {
  &:before {
    content: $icon-user-less;
  }
}

.icon-binoculars {
  &:before {
    content: $icon-binoculars;
  }
}

.icon-binoculars-off {
  &:before {
    content: $icon-binoculars-off;
  }
}

.icon-flag-unitedkingdom .path1 {
  &:before {
    content: $icon-flag-unitedkingdom-path1;
    color: rgb(65, 71, 155);
  }
}

.icon-flag-unitedkingdom .path2 {
  &:before {
    content: $icon-flag-unitedkingdom-path2;
    margin-left: -1em;
    color: rgb(245, 245, 245);
  }
}

.icon-flag-unitedkingdom .path3 {
  &:before {
    content: $icon-flag-unitedkingdom-path3;
    margin-left: -1em;
    color: rgb(255, 75, 85);
  }
}

.icon-flag-unitedkingdom .path4 {
  &:before {
    content: $icon-flag-unitedkingdom-path4;
    margin-left: -1em;
    color: rgb(255, 75, 85);
  }
}

.icon-flag-unitedkingdom .path5 {
  &:before {
    content: $icon-flag-unitedkingdom-path5;
    margin-left: -1em;
    color: rgb(255, 75, 85);
  }
}

.icon-flag-unitedkingdom .path6 {
  &:before {
    content: $icon-flag-unitedkingdom-path6;
    margin-left: -1em;
    color: rgb(255, 75, 85);
  }
}

.icon-flag-unitedkingdom .path7 {
  &:before {
    content: $icon-flag-unitedkingdom-path7;
    margin-left: -1em;
    color: rgb(255, 75, 85);
  }
}

.icon-flag-portugal .path1 {
  &:before {
    content: $icon-flag-portugal-path1;
    color: rgb(115, 175, 0);
  }
}

.icon-flag-portugal .path2 {
  &:before {
    content: $icon-flag-portugal-path2;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-portugal .path3 {
  &:before {
    content: $icon-flag-portugal-path3;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-china .path1 {
  &:before {
    content: $icon-flag-china-path1;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-china .path2 {
  &:before {
    content: $icon-flag-china-path2;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-china .path3 {
  &:before {
    content: $icon-flag-china-path3;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-china .path4 {
  &:before {
    content: $icon-flag-china-path4;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-china .path5 {
  &:before {
    content: $icon-flag-china-path5;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-china .path6 {
  &:before {
    content: $icon-flag-china-path6;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-france .path1 {
  &:before {
    content: $icon-flag-france-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-france .path2 {
  &:before {
    content: $icon-flag-france-path2;
    margin-left: -1em;
    color: rgb(65, 71, 155);
  }
}

.icon-flag-france .path3 {
  &:before {
    content: $icon-flag-france-path3;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-galicia .path1 {
  &:before {
    content: $icon-flag-galicia-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-galicia .path2 {
  &:before {
    content: $icon-flag-galicia-path2;
    margin-left: -1em;
    color: rgb(221, 221, 221);
  }
}

.icon-flag-galicia .path3 {
  &:before {
    content: $icon-flag-galicia-path3;
    margin-left: -1em;
    color: rgb(0, 153, 204);
  }
}

.icon-flag-germany .path1 {
  &:before {
    content: $icon-flag-germany-path1;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-germany .path2 {
  &:before {
    content: $icon-flag-germany-path2;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-flag-germany .path3 {
  &:before {
    content: $icon-flag-germany-path3;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-flag-hungary .path1 {
  &:before {
    content: $icon-flag-hungary-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-hungary .path2 {
  &:before {
    content: $icon-flag-hungary-path2;
    margin-left: -1em;
    color: rgb(115, 175, 0);
  }
}

.icon-flag-hungary .path3 {
  &:before {
    content: $icon-flag-hungary-path3;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-indonesia .path1 {
  &:before {
    content: $icon-flag-indonesia-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-indonesia .path2 {
  &:before {
    content: $icon-flag-indonesia-path2;
    margin-left: -1em;
    color: rgb(221, 221, 221);
  }
}

.icon-flag-indonesia .path3 {
  &:before {
    content: $icon-flag-indonesia-path3;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-italy .path1 {
  &:before {
    content: $icon-flag-italy-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-flag-italy .path2 {
  &:before {
    content: $icon-flag-italy-path2;
    margin-left: -1em;
    color: rgb(115, 175, 0);
  }
}

.icon-flag-italy .path3 {
  &:before {
    content: $icon-flag-italy-path3;
    margin-left: -1em;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-spain .path1 {
  &:before {
    content: $icon-flag-spain-path1;
    color: rgb(237, 31, 36);
  }
}

.icon-flag-spain .path2 {
  &:before {
    content: $icon-flag-spain-path2;
    margin-left: -1em;
    color: rgb(255, 205, 5);
  }
}

.icon-folder-plus {
  &:before {
    content: $icon-folder-plus;
  }
}

.icon-file-arrow-up {
  &:before {
    content: $icon-file-arrow-up;
  }
}

.icon-file-plus {
  &:before {
    content: $icon-file-plus;
  }
}

.icon-view-bounding-box {
  &:before {
    content: $icon-view-bounding-box;
  }
}

.icon-archive-solid {
  &:before {
    content: $icon-archive-solid;
  }
}

.icon-chat-bubbles {
  &:before {
    content: $icon-chat-bubbles;
  }
}

.icon-paperclip {
  &:before {
    content: $icon-paperclip;
  }
}

.icon-user-change {
  &:before {
    content: $icon-user-change;
  }
}

.icon-archive {
  &:before {
    content: $icon-archive;
  }
}

.icon-recycle {
  &:before {
    content: $icon-recycle;
  }
}

.icon-file-zip {
  &:before {
    content: $icon-file-zip;
  }
}

.icon-evaluation {
  &:before {
    content: $icon-evaluation;
  }
}

.icon-editor-video-interactive {
  &:before {
    content: $icon-editor-video-interactive;
  }
}

.icon-editor-linker-option {
  &:before {
    content: $icon-editor-linker-option;
  }
}

.icon-editor-copyright {
  &:before {
    content: $icon-editor-copyright;
  }
}

.icon-editor-connector-video-interactive {
  &:before {
    content: $icon-editor-connector-video-interactive;
  }
}

.icon-form-input {
  &:before {
    content: $icon-form-input;
  }
}

.icon-editor-compose {
  &:before {
    content: $icon-editor-compose;
  }
}

.icon-construction-barrier {
  &:before {
    content: $icon-construction-barrier;
  }
}

.icon-open-book {
  &:before {
    content: $icon-open-book;
  }
}

.icon-user-queue {
  &:before {
    content: $icon-user-queue;
  }
}

.icon-send {
  &:before {
    content: $icon-send;
  }
}

.icon-user-group {
  &:before {
    content: $icon-user-group;
  }
}

.icon-speacker {
  &:before {
    content: $icon-speacker;
  }
}

.icon-folder-closed-solid {
  &:before {
    content: $icon-folder-closed-solid;
  }
}

.icon-file-abc {
  &:before {
    content: $icon-file-abc;
  }
}

.icon-video {
  &:before {
    content: $icon-video;
  }
}

.icon-drag {
  &:before {
    content: $icon-drag;
  }
}

.icon-file-pdf {
  &:before {
    content: $icon-file-pdf;
  }
}

.icon-create {
  &:before {
    content: $icon-create;
  }
}

.icon-play {
  &:before {
    content: $icon-play;
  }
}

.icon-poweroff {
  &:before {
    content: $icon-poweroff;
  }
}

.icon-save {
  &:before {
    content: $icon-save;
  }
}

.icon-thumb-levelup {
  &:before {
    content: $icon-thumb-levelup;
  }
}

.icon-editor-svg-animation {
  &:before {
    content: $icon-editor-svg-animation;
  }
}

.icon-arrow-bottom-solid {
  &:before {
    content: $icon-arrow-bottom-solid;
  }
}

.icon-arrow-top {
  &:before {
    content: $icon-arrow-top;
  }
}

.icon-arrow-top-solid {
  &:before {
    content: $icon-arrow-top-solid;
  }
}

.icon-chat-bubble-solid {
  &:before {
    content: $icon-chat-bubble-solid;
  }
}

.icon-editor-linker-question {
  &:before {
    content: $icon-editor-linker-question;
  }
}

.icon-editor-pdf {
  &:before {
    content: $icon-editor-pdf;
  }
}

.icon-editor-widget {
  &:before {
    content: $icon-editor-widget;
  }
}

.icon-editor-widget-area {
  &:before {
    content: $icon-editor-widget-area;
  }
}

.icon-trash-solid {
  &:before {
    content: $icon-trash-solid;
  }
}

.icon-editor-end-drag-activity {
  &:before {
    content: $icon-editor-end-drag-activity;
  }
}

.icon-editor-activity-statement {
  &:before {
    content: $icon-editor-activity-statement;
  }
}

.icon-editor-area {
  &:before {
    content: $icon-editor-area;
  }
}

.icon-editor-drag-activity {
  &:before {
    content: $icon-editor-drag-activity;
  }
}

.icon-editor-dropdown-activity {
  &:before {
    content: $icon-editor-dropdown-activity;
  }
}

.icon-editor-fill-gap-activity {
  &:before {
    content: $icon-editor-fill-gap-activity;
  }
}

.icon-editor-linker-activity {
  &:before {
    content: $icon-editor-linker-activity;
  }
}

.icon-editor-matrix-multiple-activity {
  &:before {
    content: $icon-editor-matrix-multiple-activity;
  }
}

.icon-editor-matrix-single-activity {
  &:before {
    content: $icon-editor-matrix-single-activity;
  }
}

.icon-editor-multiple-choice-activity {
  &:before {
    content: $icon-editor-multiple-choice-activity;
  }
}

.icon-editor-negative-feedback {
  &:before {
    content: $icon-editor-negative-feedback;
  }
}

.icon-editor-one-choice-activity {
  &:before {
    content: $icon-editor-one-choice-activity;
  }
}

.icon-editor-positive-feedback {
  &:before {
    content: $icon-editor-positive-feedback;
  }
}

.icon-editor-screen-title {
  &:before {
    content: $icon-editor-screen-title;
  }
}

.icon-editor-taptap-activity {
  &:before {
    content: $icon-editor-taptap-activity;
  }
}

.icon-editor-true-false-activity {
  &:before {
    content: $icon-editor-true-false-activity;
  }
}

.icon-editor-unit-menu {
  &:before {
    content: $icon-editor-unit-menu;
  }
}

.icon-user-circle {
  &:before {
    content: $icon-user-circle;
  }
}

.icon-user-card {
  &:before {
    content: $icon-user-card;
  }
}

.icon-telephone {
  &:before {
    content: $icon-telephone;
  }
}

.icon-logo-twitter {
  &:before {
    content: $icon-logo-twitter;
  }
}

.icon-logo-linkedin {
  &:before {
    content: $icon-logo-linkedin;
  }
}

.icon-euro {
  &:before {
    content: $icon-euro;
  }
}

.icon-filter-circle {
  &:before {
    content: $icon-filter-circle;
  }
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

.icon-light-bulb {
  &:before {
    content: $icon-light-bulb;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-logo-facebook {
  &:before {
    content: $icon-logo-facebook;
  }
}

.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}

.icon-check-circle-solid {
  &:before {
    content: $icon-check-circle-solid;
  }
}

.icon-editor-accordion {
  &:before {
    content: $icon-editor-accordion;
  }
}

.icon-editor-before-after {
  &:before {
    content: $icon-editor-before-after;
  }
}

.icon-editor-block {
  &:before {
    content: $icon-editor-block;
  }
}

.icon-editor-carrousel {
  &:before {
    content: $icon-editor-carrousel;
  }
}

.icon-editor-circle {
  &:before {
    content: $icon-editor-circle;
  }
}

.icon-editor-clicksmap {
  &:before {
    content: $icon-editor-clicksmap;
  }
}

.icon-editor-column {
  &:before {
    content: $icon-editor-column;
  }
}

.icon-editor-educaplay {
  &:before {
    content: $icon-editor-educaplay;
  }
}

.icon-editor-external-animation {
  &:before {
    content: $icon-editor-external-animation;
  }
}

.icon-editor-footer-reference {
  &:before {
    content: $icon-editor-footer-reference;
  }
}

.icon-editor-fullcontainer {
  &:before {
    content: $icon-editor-fullcontainer;
  }
}

.icon-editor-gallery {
  &:before {
    content: $icon-editor-gallery;
  }
}

.icon-editor-glossary {
  &:before {
    content: $icon-editor-glossary;
  }
}

.icon-editor-glossary-connector {
  &:before {
    content: $icon-editor-glossary-connector;
  }
}

.icon-editor-grid {
  &:before {
    content: $icon-editor-grid;
  }
}

.icon-editor-image-exchange {
  &:before {
    content: $icon-editor-image-exchange;
  }
}

.icon-editor-instruction {
  &:before {
    content: $icon-editor-instruction;
  }
}

.icon-editor-launcher {
  &:before {
    content: $icon-editor-launcher;
  }
}

.icon-editor-page {
  &:before {
    content: $icon-editor-page;
  }
}

.icon-editor-panel {
  &:before {
    content: $icon-editor-panel;
  }
}

.icon-editor-parallax {
  &:before {
    content: $icon-editor-parallax;
  }
}

.icon-editor-quiz-connector {
  &:before {
    content: $icon-editor-quiz-connector;
  }
}

.icon-editor-quote {
  &:before {
    content: $icon-editor-quote;
  }
}

.icon-editor-reinforcement-activity {
  &:before {
    content: $icon-editor-reinforcement-activity;
  }
}

.icon-editor-row {
  &:before {
    content: $icon-editor-row;
  }
}

.icon-editor-screen {
  &:before {
    content: $icon-editor-screen;
  }
}

.icon-editor-separator {
  &:before {
    content: $icon-editor-separator;
  }
}

.icon-editor-table {
  &:before {
    content: $icon-editor-table;
  }
}

.icon-editor-tabs {
  &:before {
    content: $icon-editor-tabs;
  }
}

.icon-editor-tracking-summary {
  &:before {
    content: $icon-editor-tracking-summary;
  }
}

.icon-editor-video-online {
  &:before {
    content: $icon-editor-video-online;
  }
}

.icon-editor-vimeo {
  &:before {
    content: $icon-editor-vimeo;
  }
}

.icon-editor-youtube {
  &:before {
    content: $icon-editor-youtube;
  }
}

.icon-cross-circle-solid {
  &:before {
    content: $icon-cross-circle-solid;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-warning-solid {
  &:before {
    content: $icon-warning-solid;
  }
}

.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-arrow-back {
  &:before {
    content: $icon-arrow-back;
  }
}

.icon-arrow-bottom {
  &:before {
    content: $icon-arrow-bottom;
  }
}

.icon-badge {
  &:before {
    content: $icon-badge;
  }
}

.icon-badge-locked .path1 {
  &:before {
    content: $icon-badge-locked-path1;
    color: rgb(204, 204, 204);
  }
}

.icon-badge-locked .path2 {
  &:before {
    content: $icon-badge-locked-path2;
    margin-left: -1em;
    color: rgb(51, 51, 51);
  }
}

.icon-block {
  &:before {
    content: $icon-block;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-channel {
  &:before {
    content: $icon-channel;
  }
}

.icon-chat-bubble {
  &:before {
    content: $icon-chat-bubble;
  }
}

.icon-check {
  &:before {
    content: $icon-check;
  }
}

.icon-chest {
  &:before {
    content: $icon-chest;
  }
}

.icon-clear {
  &:before {
    content: $icon-clear;
  }
}

.icon-clock {
  &:before {
    content: $icon-clock;
  }
}

.icon-clock-loading {
  &:before {
    content: $icon-clock-loading;
  }
}

.icon-clock-loading-inverse {
  &:before {
    content: $icon-clock-loading-inverse;
  }
}

.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}

.icon-coin {
  &:before {
    content: $icon-coin;
  }
}

.icon-collections {
  &:before {
    content: $icon-collections;
  }
}

.icon-compose {
  &:before {
    content: $icon-compose;
  }
}

.icon-drag-reorder {
  &:before {
    content: $icon-drag-reorder;
  }
}

.icon-drop {
  &:before {
    content: $icon-drop;
  }
}

.icon-duplicate {
  &:before {
    content: $icon-duplicate;
  }
}

.icon-editor-activity {
  &:before {
    content: $icon-editor-activity;
  }
}

.icon-editor-audio {
  &:before {
    content: $icon-editor-audio;
  }
}

.icon-editor-hotspot {
  &:before {
    content: $icon-editor-hotspot;
  }
}

.icon-editor-image {
  &:before {
    content: $icon-editor-image;
  }
}

.icon-editor-link {
  &:before {
    content: $icon-editor-link;
  }
}

.icon-editor-presentation {
  &:before {
    content: $icon-editor-presentation;
  }
}

.icon-editor-quiz {
  &:before {
    content: $icon-editor-quiz;
  }
}

.icon-editor-text {
  &:before {
    content: $icon-editor-text;
  }
}

.icon-editor-timeline {
  &:before {
    content: $icon-editor-timeline;
  }
}

.icon-editor-video {
  &:before {
    content: $icon-editor-video;
  }
}

.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}

.icon-export {
  &:before {
    content: $icon-export;
  }
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

.icon-flag {
  &:before {
    content: $icon-flag;
  }
}

.icon-folder {
  &:before {
    content: $icon-folder;
  }
}

.icon-folder-closed {
  &:before {
    content: $icon-folder-closed;
  }
}

.icon-forbidden {
  &:before {
    content: $icon-forbidden;
  }
}

.icon-fullscreen {
  &:before {
    content: $icon-fullscreen;
  }
}

.icon-gamepad {
  &:before {
    content: $icon-gamepad;
  }
}

.icon-gift {
  &:before {
    content: $icon-gift;
  }
}

.icon-globe {
  &:before {
    content: $icon-globe;
  }
}

.icon-graduation-hat {
  &:before {
    content: $icon-graduation-hat;
  }
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}

.icon-less-circle {
  &:before {
    content: $icon-less-circle;
  }
}

.icon-like {
  &:before {
    content: $icon-like;
  }
}

.icon-lock {
  &:before {
    content: $icon-lock;
  }
}

.icon-logo-play {
  &:before {
    content: $icon-logo-play;
  }
}

.icon-mission-block {
  &:before {
    content: $icon-mission-block;
  }
}

.icon-mission-block-center {
  &:before {
    content: $icon-mission-block-center;
  }
}

.icon-mission-block-left {
  &:before {
    content: $icon-mission-block-left;
  }
}

.icon-mission-block-right {
  &:before {
    content: $icon-mission-block-right;
  }
}

.icon-orderby {
  &:before {
    content: $icon-orderby;
  }
}

.icon-paperplane {
  &:before {
    content: $icon-paperplane;
  }
}

.icon-publish {
  &:before {
    content: $icon-publish;
  }
}

.icon-rank {
  &:before {
    content: $icon-rank;
  }
}

.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}

.icon-reply {
  &:before {
    content: $icon-reply;
  }
}

.icon-reports {
  &:before {
    content: $icon-reports;
  }
}

.icon-restore {
  &:before {
    content: $icon-restore;
  }
}

.icon-smile {
  &:before {
    content: $icon-smile;
  }
}

.icon-sprint {
  &:before {
    content: $icon-sprint;
  }
}

.icon-star-solid {
  &:before {
    content: $icon-star-solid;
  }
}

.icon-tags {
  &:before {
    content: $icon-tags;
  }
}

.icon-thumb-activity {
  &:before {
    content: $icon-thumb-activity;
  }
}

.icon-thumb-audio {
  &:before {
    content: $icon-thumb-audio;
  }
}

.icon-thumb-link {
  &:before {
    content: $icon-thumb-link;
  }
}

.icon-thumb-presentation {
  &:before {
    content: $icon-thumb-presentation;
  }
}

.icon-thumb-quiz {
  &:before {
    content: $icon-thumb-quiz;
  }
}

.icon-thumb-timeline {
  &:before {
    content: $icon-thumb-timeline;
  }
}

.icon-thumb-video {
  &:before {
    content: $icon-thumb-video;
  }
}

.icon-trophy {
  &:before {
    content: $icon-trophy;
  }
}

.icon-unlock {
  &:before {
    content: $icon-unlock;
  }
}

.icon-upload {
  &:before {
    content: $icon-upload;
  }
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}

.icon-user-bubble {
  &:before {
    content: $icon-user-bubble;
  }
}

.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}

.icon-warning {
  &:before {
    content: $icon-warning;
  }
}

.icon-bell {
  &:before {
    content: $icon-bell;
  }
}

.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}

.icon-caret-left {
  &:before {
    content: $icon-caret-left;
  }
}

.icon-caret-right {
  &:before {
    content: $icon-caret-right;
  }
}

.icon-caret-up {
  &:before {
    content: $icon-caret-up;
  }
}

.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}

.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}

.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}

.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}

.icon-cross {
  &:before {
    content: $icon-cross;
  }
}

.icon-dashboard {
  &:before {
    content: $icon-dashboard;
  }
}

.icon-download {
  &:before {
    content: $icon-download;
  }
}

.icon-file {
  &:before {
    content: $icon-file;
  }
}

.icon-funnel-solid {
  &:before {
    content: $icon-funnel-solid;
  }
}

.icon-gear {
  &:before {
    content: $icon-gear;
  }
}

.icon-gear-solid {
  &:before {
    content: $icon-gear-solid;
  }
}

.icon-grid {
  &:before {
    content: $icon-grid;
  }
}

.icon-home-solid {
  &:before {
    content: $icon-home-solid;
  }
}

.icon-image {
  &:before {
    content: $icon-image;
  }
}

.icon-info-circle {
  &:before {
    content: $icon-info-circle;
  }
}

.icon-info-circle-solid {
  &:before {
    content: $icon-info-circle-solid;
  }
}

.icon-list {
  &:before {
    content: $icon-list;
  }
}

.icon-logo-cloud {
  &:before {
    content: $icon-logo-cloud;
  }
}

.icon-logout {
  &:before {
    content: $icon-logout;
  }
}

.icon-more-options {
  &:before {
    content: $icon-more-options;
  }
}

.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}

.icon-plus {
  &:before {
    content: $icon-plus;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-share {
  &:before {
    content: $icon-share;
  }
}

.icon-shopping-basket {
  &:before {
    content: $icon-shopping-basket;
  }
}

.icon-star {
  &:before {
    content: $icon-star;
  }
}

.icon-trash {
  &:before {
    content: $icon-trash;
  }
}

.icon-user-edit {
  &:before {
    content: $icon-user-edit;
  }
}

.icon-users {
  &:before {
    content: $icon-users;
  }
}

.icon-user-settings {
  &:before {
    content: $icon-user-settings;
  }
}

