<a class="field edit-field" (click)="show()" *ngIf="!editing">{{text || title + '...'}}</a>
<form class="input-group" *ngIf="editing" (ngSubmit)="save()">
  <div class="input-group-prepend">
    <button class="btn" type="button" (click)="hide()" [disabled]="submitting"><i class="ba-close"></i></button>
  </div>
  <input title="{{title}}" type="text" placeholder="{{title}}" class="form-control" [(ngModel)]="text" name="{{title}}"
         (keydown.esc)="hide()" appAutofocus>
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" [ngClass]="{'btn-loading indefinite': submitting}"
            [disabled]="!text || text === originalText || submitting"><i class="ba-check"></i></button>
  </div>
</form>
