<section class="archive">
  <div class="container-fluid">
    <a routerLink=".." class="btn-back">
      <i class="ba-arrow-left"></i>
      <span>Gå til din projekter</span>
    </a>
    <h2>Arkiv</h2>
    <app-project-list [campaigns]="campaigns" [adminView]="isAdmin"></app-project-list>
  </div>
</section>
