$md-primary: (
  50 : #e4f5fc,
  100 : #bae5f6,
  200 : #8dd4f1,
  300 : #5fc3eb,
  400 : #3cb6e6,
  500 : #1aa9e2,
  600 : #17a2df,
  700 : #1398da,
  800 : #0f8fd6,
  900 : #087ecf,
  A100 : #f8fcff,
  A200 : #c5e5ff,
  A400 : #92cfff,
  A700 : #79c3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #fef6e6,
  100 : #fde7c1,
  200 : #fcd897,
  300 : #fac86d,
  400 : #f9bc4e,
  500 : #f8b02f,
  600 : #f7a92a,
  700 : #f6a023,
  800 : #f5971d,
  900 : #f38712,
  A100 : #ffffff,
  A200 : #fff6ed,
  A400 : #ffdcba,
  A700 : #ffcea1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-success: (
  50 : #ebf8f2,
  100 : #cdeddf,
  200 : #ace1ca,
  300 : #8ad5b5,
  400 : #71cca5,
  500 : #58c395,
  600 : #50bd8d,
  700 : #47b582,
  800 : #3dae78,
  900 : #2da167,
  A100 : #e5fff1,
  A200 : #b2ffd7,
  A400 : #7fffbc,
  A700 : #65ffaf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #fee9e9,
  100 : #fcc9c9,
  200 : #fba5a5,
  300 : #f98080,
  400 : #f76565,
  500 : #f64a4a,
  600 : #f54343,
  700 : #f33a3a,
  800 : #f23232,
  900 : #ef2222,
  A100 : #ffffff,
  A200 : #fff5f5,
  A400 : #ffc2c2,
  A700 : #ffa8a8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-foreground: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-background: (
  50 : #e4e4e5,
  100 : #bbbcbe,
  200 : #8e9093,
  300 : #616468,
  400 : #2D3138,
  500 : #1d2127,
  600 : #1a1d23,
  700 : #15181d,
  800 : #111417,
  900 : #0a0b0e,
  A100 : #53a9ff,
  A200 : #2090ff,
  A400 : #0076ec,
  A700 : #0069d3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
