@import "palettes";

$color-primary: map_get($md-primary, 500);
$color-accent: map_get($md-accent, 500);
$color-warn: map_get($md-warn, 500);

$color-success: map_get($md-success, 500);

$color-foreground: map_get($md-foreground, 500);
$color-background: map_get($md-background, 500);
$color-background-accent: map_get($md-background, 400);
