@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "palettes";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css files for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($md-primary);
$accent: mat-palette($md-accent);

// The warn palette is optional (defaults to red).
$warn: mat-palette($md-warn);

// Create the theme object (a Sass map containing all of the palettes).
$dark-theme: mat-dark-theme($primary, $accent, $warn);
$light-theme: mat-light-theme($primary, $accent, $warn);

// Typography.
$typography: mat-typography-config(
  $font-family: 'Lato, sans-serif'
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);
@include angular-material-typography($typography);
@include mat-menu-theme($light-theme);
@include mat-divider-theme($light-theme);
@include mat-dialog-theme($light-theme);
@include mat-table-theme($light-theme);
@include mat-paginator-theme($light-theme);
