<mat-sidenav-container class="main-sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode"
    position="start"
    class="main-sidenav"
    fixedInViewport
    [opened]="sidenavState"
    [fixedTopGap]="sidenavTopGap"
  >
    <ul class="sidenav-options">
      <li class="sidenav-option" *ngFor="let option of sidenavOptions">
        <mat-icon class="icon sidenav-icon">{{ option.icon }}</mat-icon>
        <span class="option-name sidenav-option-name">{{ option.name }}</span>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
