@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
  overflow: auto;
  @include scrollbar;
}

.user-home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.new-project {
  position: absolute;
  right: $grid-gutter-width;
  top: -1.5rem;
  z-index: 500;

  &::before,
  &::after {
    border-top: 2px solid $white;
    content: '';
    display: block;
    height: 0;
    left: 30%;
    position: absolute;
    top: calc(50% - 1px);
    transition: inherit;
    width: 40%;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    &::before {
      transform: rotate(90deg);
    }

    &::after {
      transform: rotate(180deg);
    }
  }
}
