<section class="playlists-list">
  <div class="playlists" [class.small]="smallCards">
    <div class="card-playlist-add" *ngIf="showAdd">
      <div class="card-playlist-add-wrapper">
        <div matRipple class="content" (click)="onAdd()">
          <button mat-fab color="primary">
            <mat-icon fontIcon="icon-plus"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <app-card-playlist
      *ngFor="let playlist of playlists"
      [playlist]="playlist"
      [alwaysSmall]="smallCards"
      [openPlaylist]="!selection"
      [elements]="cardElements"
      (click)="cardSelected($event, playlist)"
    ></app-card-playlist>
    <div *ngIf="loading" class="item-loader">
      <div class="item-loader-wrapper">
        <div class="item-loader-container">
          <app-loader [mainLoader]="false"></app-loader>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !isLastPage" class="load-more">
    <button mat-flat-button color="primary" class="btn-big" (click)="onNextPage()">
      {{ 'loadMore' | translate }}
      <mat-icon fontIcon="icon-plus"></mat-icon>
    </button>
  </div>
</section>
