<div class="modal-header">
  <h4 class="modal-title">Skift email</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <i aria-hidden="true" class="ba-close"></i>
  </button>
</div>
<div class="modal-body">
  <form id="change-pass-form" [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        formControlName="password"
        autofocus
        appAutofocus
        [ngClass]="{'is-invalid': errors.password}"
      >
      <app-input-feedback fields="password" [messages]="errors"></app-input-feedback>
    </div>
    <hr>
    <div class="form-group">
      <label for="new_email">Ny email</label>
      <input
        type="email"
        class="form-control"
        id="new_email"
        name="new_email"
        formControlName="new_email"
        [ngClass]="{'is-invalid': errors.new_email}"
      >
      <app-input-feedback fields="new_email" [messages]="errors"></app-input-feedback>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" form="change-pass-form" [disabled]="!changeEmailForm.dirty"
          [ngClass]="{'btn-loading indefinite': submitting}" i18n>Bekræfte
  </button>
  <button type="button" class="btn btn-link" (click)="activeModal.close('cancel')" i18n>Fortryd</button>
</div>
