@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
}

.hero {
  background: url(/assets/images/main-image.jpg) top no-repeat, linear-gradient(311.25deg, rgba(#112227, .5) 0%, rgba(#3B7889, .5) 100%);
  background-size: cover;
  color: $white;
  padding: 4rem $grid-gutter-width 3rem;
  //position: relative;
  text-align: center;

  .title {
    margin-bottom: 1.5rem;

    .greeting {
      font-size: $h2-font-size;
      font-weight: $headings-font-weight;
    }
  }

  p {
    font-size: $h4-font-size;
    margin: 0 auto;
    max-width: 600px;
  }

  .help {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: calc(#{$grid-gutter-width} + 1.5rem - 5px);
    top: 2.5rem;
    transition: $transition-base;

    .text {
      color: $white;
      display: inline-block;
      font-size: $font-size-base * 0.875;
      font-weight: $font-weight-bold;
      margin-bottom: -0.5em;
      margin-right: $grid-gutter-width / 2;
      vertical-align: bottom;
    }

    img {
      animation: arrow-pulse 5s ease-in-out 5s normal infinite both;
      background-size: 800% 100%;
      object-position: -99999px;
      clip-path: url(#helpArrow);

      @keyframes arrow-pulse {
        0% {
          background-image: linear-gradient(40deg, $white, $white 20%, $primary, $extra, $primary-hover, $white 80%);
          background-position-x: 100%;
        }
        50% {
          background-position-x: 0;
        }
        100% {
          background-image: linear-gradient(40deg, $white, $white 20%, $primary, $extra, $primary-hover, $white 80%);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

:host-context(.with-help-arrow) {
  .hero {
    .help {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.projects {
  padding-bottom: 4rem;
  padding-top: 4rem;

  h3 {
    margin-bottom: 2rem;
  }

  .btn-archive {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .btn {
      min-width: 0;
      padding: 0 1.5rem;
    }
  }
}
