@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

$container-playlist-selector: (
  $screen-tablet-small: 220px,
  $screen-tablet: 456px,
  $screen-desktop-large: 692px
);

.playlist-selector {
  main {
    .wrapper {
      @include container($container-playlist-selector, 20px);
    }
  }
}
