<app-sidenav-container>
  <section class="sidenav-content playlist-selector">
    <mat-toolbar>
      <button mat-icon-button appCloseSidenav>
        <mat-icon fontIcon="icon-cross"></mat-icon>
      </button>
      <span class="title">Select playlist</span>
    </mat-toolbar>
    <main>
      <div class="wrapper">
        <app-playlists-list
          [showAdd]="true"
          [playlists]="playlists"
          [loading]="loading"
          [isLastPage]="isLastPage"
          [selection]="true"
          [smallCards]="true"
          cardElements="items"
          (add)="add()"
          (nextPage)="getPlaylists()"
          (selected)="select($event)"
        ></app-playlists-list>
      </div>
    </main>
  </section>
</app-sidenav-container>
