@import "~src/styles/base/variables";

.scroll-top-btn {
  $separations: (
    0: 20px,
    $screen-tablet: 63px
  );

  height: 44px;
  width: 44px;
  background-color: map_get($md-background, 300);
  box-shadow: $shadow-dark;
  position: fixed;
  z-index: 100;
  transform: scale(0);
  opacity: 0;
  transition: $transition-base;

  @each $screen-size, $separation in $separations {
    @media all and (min-width: $screen-size) {
      bottom: $separation;
      right: $separation;
    }
  }

  &.visible {
    transform: scale(1);
    opacity: 1;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: $shadow-long-hover;
  }
}
