<header>
  <nav class="navbar navbar-expand" [@showHideNavLinks]="currentUser">
    <a class="navbar-brand" routerLink="/">
      <img
        [src]="currentUser?.municipality?.image?.url ? (globals.host + currentUser.municipality.image.url) : '../../../../assets/images/logo.svg'">
    </a>
    <div class="collapse navbar-collapse" *ngIf="currentUser">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="user-link" routerLink="/user/profile">
            <span class="user-icon ba-person"></span>
            <span class="username">{{currentUser.firstName || currentUser.name}} {{currentUser.lastName}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" *ngIf="currentUser === null">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-ghost btn-sm" (click)="openSignUp()">Få login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary btn-sm" routerLink="/login" routerLinkActive="disabled">Log ind</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
