@import "../../../../sass/abstracts/variables";

:host {
  flex-shrink: 0;
}

header {
  background-color: $white;
  position: relative;

  .navbar {
    .navbar-brand {
      img {
        height: $navbar-brand-height;
      }
    }

    .navbar-nav {
      .nav-item {
        position: relative;

        & + .nav-item {
          margin-left: 24px;
        }

        .nav-link {
          letter-spacing: 0.05375rem;
          min-width: $btn-min-width-sm;
        }
      }

      .user-link {
        display: block;
        transition: $transition-base;

        .user-icon {
          background-color: $white;
          border-radius: 50%;
          display: inline-block;
          font-size: 1.25rem;
          line-height: 2rem;
          margin-right: 8px;
          position: relative;
          text-align: center;
          top: -1px;
          transition: inherit;
          vertical-align: middle;
          width: 2rem;
        }

        .username {
          display: inline-block;
          font-size: $font-size-base * .875;
          font-weight: $font-weight-bold;
          line-height: 1;
          margin-bottom: -3px;
          transition: inherit;
          vertical-align: middle;

          &::after {
            border-top: 2px solid currentColor;
            color: inherit;
            content: '';
            display: block;
            height: 0;
            opacity: .3;
            top: 100%;
            transform: scale(0);
            transform-origin: left;
            transition: transform .3s;
            width: 100%;
          }
        }

        &::after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 6px solid;
          color: $gray-500;
          content: '';
          display: inline-block;
          margin-left: 10px;
        }

        &:hover,
        &:focus {
          .user-icon {
            box-shadow: $box-shadow;
          }

          .username {
            &::after {
              transform: scale(1);
              transform-origin: right;
            }
          }
        }
      }
    }
  }
}

/*# sourceURL=header.component.scss */
