@import "~src/styles/base/variables";

:host {
  position: relative;
}

:host-context(.sidenav-open) .top-bar,
.top-bar.visible {
  transform: translateY(0);
  box-shadow: $shadow-dark;
}

.top-bar {
  display: flex;
  align-items: stretch;
  height: $top-bar-height;
  color: $color-foreground;
  background-color: $color-background-accent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform .5s;

  .logo,
  .content {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 0 25px;
    background-color: $color-accent;
    color: $color-foreground;
    text-decoration: none;

    .mat-icon {
      font-size: 40px;
    }

    .text {
      font-size: 20px;
      line-height: 1.2;
      font-weight: $font-w-medium;
      font-family: $font-family-logo;
      display: none;

      strong {
        font-weight: $font-w-bold;
      }
    }
  }

  .content {
    margin-left: auto;

    &, & > div {
      padding: 0 16px;
    }

    .user-info {
      line-height: 1.2;
      text-align: center;
      display: none;

      .name {
        font-size: 16px;
        color: $color-grey-600;
      }

      .level {
        font-size: 12px;
        color: $color-accent;
        text-transform: uppercase;
      }
    }

    .user-menu {
      .user-menu-trigger {
        cursor: pointer;
        margin: 0;

        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 50%;
          display: block;
        }
      }
    }

    .dashboard {
      .apps-menu-trigger {
        color: $color-grey-600;
        width: 35px;
        height: 35px;
        margin: 0 -10px;

        .mat-icon {
          font-size: 24px;
        }
      }
    }
  }

  @media all and (min-width: $screen-tablet) {
    .logo {
      padding: 0 42px;

      .mat-icon {
        display: none;
      }

      .text {
        display: block;
      }
    }
  }

  @media all and (min-width: $screen-desktop-small) {
    .content {
      .user-info {
        display: block;
      }
    }
  }
}
