@import "~src/styles/base/variables";

$people-row-columns: (
  0: 1,
  $screen-tablet: 2,
  $screen-desktop-small: 3,
  $screen-desktop-large: 4
);

.people-list {
  padding: 70px 0 80px;

  .people {
    margin: -8px;
    padding-bottom: 70px;

    @each $screen-size, $columns in $people-row-columns {
      @media all and (min-width: $screen-size) {
        app-card-user,
        .item-loader {
          width: 100% / $columns;
        }
      }
    }

    .item-loader {
      display: inline-block;
    }
  }

  .load-more {
    text-align: center;
  }
}
