<section class="people-list">
  <div class="people">
    <app-card-user
      *ngFor="let user of users"
      [user]="user"
    ></app-card-user>
    <div *ngIf="loading" class="item-loader">
      <div class="item-loader-wrapper">
        <div class="item-loader-container">
          <app-loader [mainLoader]="false"></app-loader>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !isLastPage" class="load-more">
    <button mat-flat-button color="primary" class="btn-big" (click)="onNextPage()">
      {{ 'loadMore' | translate }}
      <mat-icon fontIcon="icon-plus"></mat-icon>
    </button>
  </div>
</section>
