<section class="user-list">
  <div class="container-fluid">
    <h2 i18n>Brugere</h2>

    <div class="table-responsive">
      <table class="table" *ngIf="show">
        <thead>
        <tr>
          <th i18n>Navn</th>
          <th i18n>E-mail</th>
          <th i18n>Status</th>
          <th i18n>Kommune</th>
          <th i18n>Roller</th>
          <th i18n>Medlem for</th>
          <th i18n>Sidste adgang</th>
          <th i18n>Operationer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.firstName ? user.firstName : ''}} {{user.lastName ? user.lastName : ''}}</td>
          <!--TODO: Quitar esto ya que realmente no podrán existir usuarios sin mail, pero es necesario por ahora.-->
          <td>{{user.mail ? user.mail : 'Not set'}}</td>
          <td>{{user.isActive ? 'Active' : 'Blocked'}}</td>
          <td>{{user.municipality_placeholder}}</td>
          <td><span *ngFor="let role of user.roles">{{role.label}}</span></td>
          <td>{{user.memberfor}}</td>
          <td>{{user.lastaccess}}</td>
          <td>
            <ul class="actions">
              <li *ngIf="privileges.edit[user.id]"><a (click)="edit(user)"><i class="ba-pencil"></i>Redigér</a></li>
              <li *ngIf="privileges.delete[user.id]"><a class="danger-hover-color" (click)="open(delete, user)"><i
                class="ba-trash"></i>Slet</a></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="btn-add">
      <a *ngIf="show && privileges['add']" routerLink="/admin/users/create" class="btn btn-secondary" i18n>
        <i class="ba-plus"></i>
        Tilføj bruger
      </a>
    </div>
  </div>
</section>
