@import "~src/styles/base/variables";

.playlist-config {
  font-size: 9px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  padding: 0 1.2em;
  border-radius: 9px;
  border: 1px solid currentColor;

  .mat-icon {
    font-size: 11px;
    font-weight: $font-w-bold;
  }

  & > span {
    margin-left: .6em;
    font-style: italic;
  }

  @media all and (min-width: $screen-desktop-small) {
    font-size: 12px;
    line-height: 28px;
    border-radius: 14px;

    .mat-icon {
      font-size: 16px;
    }
  }
}
