<div class="modal-header">
  <h4 class="modal-title">Ny bruger</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i aria-hidden="true" class="ba-close"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    Det er kun ansatte på kommunen der kan få et login til Boligplan. Administratoren på din kommune kan oprette dig. Du
    kan anmode om et login ved at indtaste dit navn og din job e-mail herunder:
  </p>
  <form [formGroup]="signupForm" (ngSubmit)="register()" id="sign-up-form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Navn</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Indtast dit navn"
            autofocus
            required
            appAutofocus
            formControlName="name"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder=" Indtast din e-mail"
            autofocus
            required
            formControlName="email"
          >
        </div>
      </div>
    </div>

    <app-alert-group [alerts]="alerts"></app-alert-group>

  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" form="sign-up-form" [ngClass]="{'btn-loading indefinite': submitting}"
          [disabled]="signupForm.invalid || submitting">Anmod om login
  </button>
  <button type="button" class="btn btn-link" (click)="activeModal.dismiss()">Fortryd</button>
</div>
