<mat-toolbar class="toolbar" role="heading" color="primary">
  <div class="app-title">{{ title }}</div>
  <div class="toolbar-options">
    <a
      class="toolbar-option"
      *ngFor="let option of toolbarOptions"
      [routerLink]="option.route"
      routerLinkActive="active"
    >
      <mat-icon class="icon toolbar-icon">{{ option.icon }}</mat-icon>
      <span class="option-name toolbar-option-name">{{ option.text }}</span>
    </a>
  </div>
</mat-toolbar>
