<section class="comments-list">
  <app-comment
    class="input-comment"
    [theme]="theme"
    [autofocus]="autofocus"
    [loading]="adding"
    (add)="onAdd($event)"
  ></app-comment>
  <app-comment
    *ngFor="let comment of comments; let i = index"
    [theme]="theme"
    [comment]="comment"
    (remove)="onRemove(i)"
  ></app-comment>

  <div *ngIf="!isLastPage" class="show-more">
    <a *ngIf="!loading" (click)="getComments()">{{ 'showMore' | translate }}</a>
    <mat-spinner *ngIf="loading" color="accent" strokeWidth="3" diameter="30"></mat-spinner>
  </div>
</section>
