<div class="modal-header">
  <h4 class="modal-title">Opret nyt projekt</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i aria-hidden="true" class="ba-close"></i>
  </button>
</div>
<div class="modal-body">
  <p class="text-center">
    Du kan oprette dit eget projekt eller tage udgangspunkt i en af skabelonerne vi har lavet til dig. Du kan sagtens
    justere filtre og tekster i skabelonerne.
  </p>
  <div class="project-templates">
    <a (click)="selectTemplate(createProject)" class="card new-project">
      <div class="card-body">
        <h5 class="card-title">Start nyt projekt</h5>
        <p class="card-text">Byg dit eget projekt fra bunden. Her er ingen prævalgte filtre.</p>
      </div>
      <div class="plus-icon"></div>
    </a>

    <a *ngFor="let template of templates" (click)="selectTemplate(createProject, template)" class="card">
      <div class="tag" *ngIf="template.isNew">NYHED</div>
      <div class="card-body">
        <h5 class="card-title">{{template.name}}</h5>
        <p class="card-text">{{template.description}}</p>
        <dl class="details">
          <div>
            <dt>Potentiale</dt>
            <dd>{{template.potential}} boliger</dd>
          </div>
          <div>
            <dt>Filtre</dt>
            <dd>
              <div class="badge-list">
                <div class="badge" *ngFor="let filter of template.filters">{{filter}}</div>
              </div>
            </dd>
          </div>
        </dl>
      </div>
    </a>
  </div>
</div>

<ng-template #createProject let-modalProjectName>
  <div class="modal-header">
    <h4 class="modal-title">Navngiv projekt</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalProjectName.dismiss()">
      <i aria-hidden="true" class="ba-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Navngiv dit projekt, så du nemt kan finde det igen.</p>
    <form>
      <input id="project-name" name="project-name" class="form-control" title="Projekt navn" placeholder="Projekt navn"
             [(ngModel)]="selected.name" #name="ngModel" required>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalProjectName.close()" [disabled]="name.invalid">
      Opret projekt
    </button>
    <button type="button" class="btn btn-link" (click)="modalProjectName.dismiss()">Fortryd</button>
  </div>
</ng-template>
