<div *ngIf="showMenu" class="container">
  <div class="btn-bar">
    <app-tabs-buttons [navLinks]="navLinks"></app-tabs-buttons>
    <button mat-flat-button color="primary" class="btn-big" (click)="openRecycleBin()">
      {{ 'review.bin' | translate }}
      <mat-icon fontIcon="icon-trash-solid"></mat-icon>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
