<section class="playlist-detail">
  <div class="background-img" [style.background-image]="'url(' + playlist.avatar + ')'"></div>
  <app-top-bar></app-top-bar>
  <div class="page-actions-bar">
    <button mat-icon-button class="left-btn" (click)="back()">
      <mat-icon fontIcon="icon-arrow-back"></mat-icon>
    </button>
  </div>
  <div class="container-small">
    <div class="playlist-details">
      <app-chips-playlist-config
        *ngIf="isOwnPlaylist"
        class="config"
        [configuration]="playlist.configuration"
      ></app-chips-playlist-config>
      <h1>{{ playlist.title }}</h1>
      <p class="playlist-description">{{ playlist.description }}</p>
      <div *ngIf="playlist.tags && playlist.tags?.length" class="playlist-tags">
        <span *ngFor="let tag of playlist.tags">{{ tag?.name }}</span>
      </div>
    </div>
    <div class="playlist-bar">
      <div *ngIf="!isOwnPlaylist" class="author">
        <img
          [src]="playlist.author.avatar"
          [alt]="playlist.author?.displayName"
          appImgDefault="user-default.png"
        >
        <div class="name">{{ playlist.author?.displayName }}</div>
      </div>
      <app-tabs-icons
        *ngIf="playlist"
        class="tabs"
        [disabled]="!isOwnPlaylist"
        [navLinks]="navLinks"
      ></app-tabs-icons>
      <div class="options" [class.wrap-xs]="isOwnPlaylist" *ngIf="actions && actions.length">
        <app-menu-button [actions]="actions" [square]="true"></app-menu-button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
