@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

.playlist-detail {
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba($color-background-accent, .5), $color-black 95vh);
  position: relative;
  padding-top: $top-bar-height;

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -10;
  }

  .playlist-details {
    padding: 85px 15px 45px;
    text-align: center;

    .config {
      display: inline-block;
      margin-bottom: 10px;
      margin-top: -30px;
    }

    h1 {
      font-size: 30px;
      font-family: $font-family-accent;
      font-weight: $font-w-medium;
      text-shadow: $shadow-dark;
      margin: 0 0 26px 0;
    }

    .playlist-description {
      font-size: 12px;
      text-shadow: $shadow;
      margin: 0 auto 30px;
      max-width: 860px;
    }

    .playlist-tags {
      margin: 0 -5px;

      span {
        display: inline-block;
        line-height: 26px;
        color: $color-grey-400;
        border-radius: 14px;
        border: 1px solid currentColor;
        padding: 0 16px;
        margin: 5px;
        font-size: 11px;
      }
    }

    @media all and (min-width: $screen-tablet) {
      padding: 185px 15px 90px;

      h1 {
        font-size: 48px;
      }

      .playlist-description {
        font-size: 16px;
      }

      .playlist-tags {
        margin: 0 -10px;

        span {
          line-height: 38px;
          border-radius: 20px;
          margin: 10px;
          font-size: 14px;
          padding: 0 20px;
        }
      }
    }

    @media all and (min-width: $screen-desktop-small) {
      .config {
        margin-top: -40px;
      }

      .playlist-description {
        margin-bottom: 42px;
      }
    }

    @media all and (min-width: $screen-desktop) {
      padding-bottom: 140px;

      h1 {
        font-size: 54px;
      }

      .playlist-description {
        margin-bottom: 30px;
      }
    }
  }

  .playlist-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .author {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;

      img {
        width: 46px;
        height: 46px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 14px;
        flex-shrink: 0;
        box-shadow: $shadow;
      }

      .name {
        font-size: 14px;
        font-weight: $font-w-bold;
        @extend %ellipsis;
      }
    }

    .options {
      margin-left: 16px;

      &.wrap-xs {
        margin-left: 0;
        margin-top: 50px;
        flex: 1 0 100%;
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }

    @media all and (min-width: $screen-tablet) {
      flex-wrap: nowrap;

      .author {
        flex: 1 0;
        justify-content: flex-start;
        margin-bottom: 0;

        img {
          width: 60px;
          height: 60px;
          margin-right: 20px;
        }

        .name {
          font-size: 18px;
        }
      }

      .options {
        &.wrap-xs {
          margin-left: 16px;
          margin-top: 0;
          flex: 0;
        }
      }

      .tabs {
        margin-right: auto;
      }
    }
  }
}
