<div class="wrapper">
  <h1 mat-dialog-title>Project details</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Lol</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field appearance="standard" color="warn">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [value]="project.name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">No Thanks</button>
    <!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
  </div>
</div>
