.card {
  box-shadow: 0 0 0 1px $gray-300;

  .card-body {
    font-size: $font-size-sm;

    .card-title {
      color: $primary-hover;
      font-size: $h4-font-size;
      font-weight: $font-weight-bold;
      letter-spacing: 0.53px;
    }

    .card-text {
      line-height: 1.5;
    }
  }

  .tag {
    background-color: $highlight;
    color: $body-color;
    font-size: $font-size-sm;
    letter-spacing: 0.35px;
    line-height: 1.25rem;
    position: absolute;
    right: calc(-50% + 1.625rem);
    text-align: center;
    text-transform: uppercase;
    top: 1rem;
    transform: rotate(45deg);
    transform-origin: center;
    width: 100%;
  }
}
