@each $color, $value in $theme-colors {
  a,
  button,
  .btn {
    &.#{$color}-hover-color {
      &:hover,
      &:focus {
        color: $value !important;
      }
    }

    &.#{$color}-hover-bg {
      &:hover,
      &:focus {
        background-color: $value !important;
      }
    }
  }
}
