// Actual modal
.modal-content {
  border: $modal-content-border-width solid $modal-content-border-color;
  padding: $modal-inner-padding;
  @include box-shadow($modal-content-box-shadow-xs);

  // TODO: Remove if ng-bootstrap upgrades with animations.
  & {
    animation: slideIn .3s ease-out 0s normal 1 both;
    opacity: 0;
    top: -10px;

    @keyframes slideIn {
      60% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }
  }

  .modal-header {
    padding: $modal-header-padding;

    .modal-title {
      flex: 1 0;
      font-size: $font-size-base * 1.125;
      letter-spacing: 1px;
      text-align: center;
    }

    .close {
      color: $primary;
      font-size: 1rem;
      margin: 0 -1rem 0 0;
      opacity: 1;
      outline: none !important;
      transition: $transition-base;

      &:hover,
      &:focus {
        color: $primary-hover;
      }
    }
  }

  .modal-body {
    padding: $modal-body-padding;

    & > p {
      line-height: 1.5;

      &:last-of-type {
        margin-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-footer {
    flex-direction: column;
    padding: $modal-footer-padding;

    .btn {
      margin: 0;
      min-width: 240px;

      & + .btn {
        margin-top: .3rem;
      }

      &.btn-link {
        margin-top: 1.5rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;

    .modal-header {
      .close {
        margin: 0;
      }
    }

    .modal-footer {
      .btn {
        min-width: 0;
        width: 100%;
      }
    }
  }
}
