.item-loader {
  .item-loader-wrapper {
    display: block;
    padding-bottom: 100%;
    position: relative;

    .item-loader-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      app-loader {
        width: 40%;
        height: 40%;

        mat-spinner {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
