$md-primary: (
  50 : #ede4f3,
  100 : #d2bbe1,
  200 : #b58dcd,
  300 : #975fb8,
  400 : #803da9,
  500 : #6a1b9a,
  600 : #621892,
  700 : #571488,
  800 : #4d107e,
  900 : #3c086c,
  A100 : #ca9dff,
  A200 : #af6aff,
  A400 : #9337ff,
  A700 : #861eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #cec9f5,
  100 : #9388ea,
  200 : #6858e2,
  300 : #3824ce,
  400 : #3120b4,
  500 : #2a1b9a,
  600 : #231680,
  700 : #1c1266,
  800 : #150d4c,
  900 : #0e0932,
  A100 : #beb5ff,
  A200 : #644fff,
  A400 : #2911d7,
  A700 : #2c1ab5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-success: (
  50 : #f3fdf3,
  100 : #e0fae0,
  200 : #ccf7cc,
  300 : #b7f3b8,
  400 : #a7f1a8,
  500 : #98ee99,
  600 : #90ec91,
  700 : #85e986,
  800 : #7be77c,
  900 : #6ae26b,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f0fff0,
  A700 : #d6ffd7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #fdf3f3,
  100 : #fae1e1,
  200 : #f7cdcd,
  300 : #f4b8b8,
  400 : #f1a9a9,
  500 : #ef9a9a,
  600 : #ed9292,
  700 : #eb8888,
  800 : #e87e7e,
  900 : #e46c6c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff4f4,
  A700 : #ffdada,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-foreground: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-background: (
  50 : #e6e7e8,
  100 : #c0c2c5,
  200 : #969a9e,
  300 : #6b7177,
  400 : #4c5259,
  500 : #2c343c,
  600 : #272f36,
  700 : #21272e,
  800 : #1b2127,
  900 : #10151a,
  A100 : #5ea3ff,
  A200 : #2b86ff,
  A400 : #006af7,
  A700 : #005fde,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
