<button mat-icon-button class="menu-btn" [class.square-btn]="square" [matMenuTriggerFor]="menu">
  <mat-icon fontIcon="icon-more-options"></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let action of actions"
    (click)="action.action(action.callbackParam)"
    [disabled]="action.disabled"
  >
    <mat-icon [fontIcon]="'icon-' + action.icon" [color]="action.color"></mat-icon>
    <span>{{ action.label.string | translate:action.label.params }}</span>
  </button>
</mat-menu>
