<app-sidenav-container>
  <section class="sidenav-content items-add">
    <mat-toolbar>
      <button mat-icon-button appCloseSidenav>
        <mat-icon fontIcon="icon-cross"></mat-icon>
      </button>
      <span class="title">{{ (data.currentItem ? 'item.edit' : 'item.add') | translate }}</span>
      <button
        *ngIf="stepper.selectedIndex === 1"
        mat-flat-button
        color="primary"
        [disabled]="!form.valid"
        (click)="submit()"
      >
        {{ (data.currentItem ? 'save' : 'add') | translate }}
        <mat-icon fontIcon="icon-check"></mat-icon>
      </button>
    </mat-toolbar>
    <main>
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <div class="container-sidenav link">
            <mat-form-field>
              <input matInput [placeholder]="'item.link' | translate" [formControl]="url" required appAutoFocus>
            </mat-form-field>
            <div class="actions">
              <button
                mat-raised-button
                color="primary"
                [disabled]="!url.valid"
                (click)="getLinkInfo()"
              >{{ 'next' | translate }}</button>
              <button mat-stroked-button matStepperNext>
                <span class="lower">{{ 'or' | translate }}</span>
                {{ 'item.writePost' | translate }}
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div class="container-sidenav post-edit">
            <form [formGroup]="form">
              <figure class="item-cover">
                <img [src]="preview" alt="" appImgDefault="cover-default.svg">
                <button
                  mat-stroked-button
                  class="edit-img-btn btn-big"
                  (click)="editCover()"
                >
                  {{ 'edit_cover' | translate }}
                  <mat-icon fontIcon="icon-editor-image"></mat-icon>
                </button>
              </figure>
              <mat-form-field>
                <input
                  matInput
                  [placeholder]="'title' | translate"
                  formControlName="title"
                  required
                  [appAutoFocus]="!data.currentItem"
                >
              </mat-form-field>
              <div class="item-playlist">
                <label>{{ 'playlists' | translate:{count: 1} }} *</label>
                <div class="playlist-selector">
                  <div *ngIf="!playlist" class="playlist">
                    <button mat-fab color="primary" (click)="addPlaylist()">
                      <mat-icon fontIcon="icon-plus"></mat-icon>
                    </button>
                  </div>
                  <div *ngIf="playlist" class="playlist">
                    <img
                      [src]="playlist.avatar"
                      [alt]="playlist.title"
                      [class.no-img]="!playlist.avatar"
                      appImgDefault="playlist-default.svg"
                    >
                    <div class="details">
                      <div class="title">{{ playlist.title }}</div>
                      <span class="count">{{ playlist.numberItems }}</span>
                      <span class="count-elems">{{ 'elements' | translate:{count: playlist.numberItems} }}</span>
                    </div>
                  </div>
                  <button *ngIf="playlist" mat-icon-button class="open-selector" (click)="selectPlaylist()">
                    <mat-icon fontIcon="icon-cross"></mat-icon>
                  </button>
                </div>
              </div>
              <div class="content">
                <label>{{ 'content' | translate }}</label>
                <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
              </div>
            </form>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </main>
  </section>
</app-sidenav-container>
