<div class="container" [class.empty]="!users.length">
  <div *ngIf="!loading && !users.length" class="no-subs">
    <mat-icon fontIcon="icon-users"></mat-icon>
    <div class="title">{{ 'empty.noSubs.title' | translate }}</div>
    <div class="subtitle">{{ 'empty.noSubs.subtitle' | translate }}</div>
  </div>
  <app-people-list
    [users]="users"
    [loading]="loading"
    [isLastPage]="isLastPage"
    (nextPage)="getPeople()"
  ></app-people-list>
</div>
