<div class="container">

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading" class="wrapper">
    <mat-form-field>
      <label>
        <input matInput (keyup)="filter($event.target.value)" placeholder="Filter">
      </label>
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let project"> {{project.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let project"> {{states[project.state]}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let project">
          <div *ngFor="let action of actions" class="action">
            <mat-icon class="icon action-icon" (click)="action.action(project.id)">{{action.icon}}</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let project; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
  </div>
</div>
