@import "~src/sass/abstracts/variables";

:host {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  //height: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;

  main {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    max-height: calc(100vh - var(--navbar-height));
    position: relative;
  }

  app-header,
  app-footer {
    flex-shrink: 0;
  }
}
