<div class="modal-header">
  <h4 class="modal-title">Skift password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <i aria-hidden="true" class="ba-close"></i>
  </button>
</div>
<div class="modal-body">
  <form id="change-pass-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="current_pass" i18n>Nuværende password</label>
      <input
        type="password"
        class="form-control"
        id="current_pass"
        name="current_pass"
        formControlName="current_pass"
        autofocus
        appAutofocus
        [ngClass]="{'is-invalid': errors.current_pass}"
      >
      <app-input-feedback fields="current_pass" [messages]="errors"></app-input-feedback>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="new_pass" i18n>Nyt password</label>
        <input
          type="password"
          class="form-control"
          id="new_pass"
          name="new_pass"
          formControlName="new_pass"
          [ngClass]="{'is-invalid': errors.new_pass}"
        >
        <app-input-feedback fields="new_pass" [messages]="errors"></app-input-feedback>
      </div>
      <div class="form-group col-md-6">
        <label for="confirm_pass" i18n>Gentag ny password</label>
        <input
          type="password"
          class="form-control"
          id="confirm_pass"
          name="confirm_pass"
          formControlName="confirm_pass"
          [ngClass]="{'is-invalid': errors.confirm_pass}"
        >
        <app-input-feedback fields="confirm_pass" [messages]="errors"></app-input-feedback>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" form="change-pass-form" [disabled]="!changePasswordForm.dirty"
          [ngClass]="{'btn-loading indefinite': submitting}" i18n>Bekræfte
  </button>
  <button type="button" class="btn btn-link" (click)="activeModal.close()" i18n>Fortryd</button>
</div>
