<div class="card-playlist">
  <div
    matRipple
    class="card-playlist-wrapper"
    [style.background-image]="playlist ? 'url(' + playlist.avatar + ')' : ''"
    [class.no-img]="playlist && !playlist.avatar"
    [class.small]="alwaysSmall"
    [routerLink]="openPlaylist ? '/playlist/' + playlist.id : null"
  >
    <div *ngIf="playlist" class="content">
      <img
        *ngIf="playlist.author"
        class="playlist-author"
        [src]="playlist.author?.avatar"
        [alt]="playlist.author?.displayName"
        appImgDefault="user-default.png"
      >
      <div class="playlist-name">{{ playlist.title }}</div>
      <div class="playlist-detail">
        <span class="count">{{ elements === 'items' ? playlist.numberItems : playlist.numberSubscribers }}</span>
        <span class="count-elems">
          {{ (elements === 'items' ? ('publications' | translate:{count: playlist.numberItems}) : ('subscribers' | translate:{count: playlist.numberSubscribers})) }}
        </span>
        <span *ngIf="false" class="new-content-dot"></span>
      </div>
      <app-chips-playlist-config
        *ngIf="!playlist.author"
        [configuration]="playlist.configuration"
      ></app-chips-playlist-config>
      <div class="playlist-chip" *ngIf="false">New</div>
    </div>
    <div *ngIf="!playlist" class="add-content">
      <button mat-fab color="primary">
        <mat-icon fontIcon="icon-plus"></mat-icon>
      </button>
    </div>
  </div>
</div>
