@mixin scrollbar() {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: fade_out($primary, 0.7);
    border: 0;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: fade_out($primary, 0.7);
  }

  &::-webkit-scrollbar-thumb:active {
    background: fade_out($primary, 0.6);
  }

  &::-webkit-scrollbar-track {
    background: fade_out($primary, 0.9);
    border: 0;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track:hover {
    background: fade_out($primary, 0.8);
  }

  &::-webkit-scrollbar-track:active {
    background: fade_out($primary, 0.8);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
