/* ----------------------------------- //
//     Browser hacks
// ----------------------------------- */

/*--- Only Edge ---*/
@mixin only_edge() {
  @supports (-ms-ime-align:auto) {
    @at-root {
      #{&} {
        @content;
      }
    }
  }
}

/*--- Edge and Explorer ---*/
@mixin edge_explorer() {
  @at-root {
    #{'_:-ms-lang(x),'} #{&} {
      @content;
    }
  }
}

//======================================================================================================================

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin container($size-map, $padding: 0, $overrides: ()) {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 $padding;

  @media all and (min-width: $screen-tablet-small) {
    box-sizing: content-box;
  }

  @each $screen-size, $width in map_merge($size-map, $overrides) {
    @media all and (min-width: $screen-size) {
      max-width: $width;
    }
  }
}

// Apply font icon styles.
// - $family: Font icon family reference
// - $content: Icon value in HEX format
// - $pseudo-class: before | after
// - $size: Icon size
// - $color: Icon color
// - $vertical-align: Vertical alignment
@mixin font-icon($family, $content: "", $size: 1em, $color: inherit, $vertical-align: initial, $pseudo: "before") {
  &:#{$pseudo}{
    content: $content;
    color: $color;
    font-size: $size;
    vertical-align: $vertical-align;
    position: relative;
    display: inline-block;
    font-family: $family;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
