@import "~src/styles/base/variables";

.image-selector {
  .drop-zone {
    background-color: $color-background;
    padding: 20px;
    min-height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .drop-zone-empty {
      text-align: center;

      .mat-icon {
        font-size: 44px;
      }

      .drop-zone-title {
        font-size: 16px;
        font-weight: $font-w-bold;
        margin: 12px 0 17px;
      }

      .drop-zone-subtitle {
        font-size: 12px;
        font-weight: $font-w-regular;
        color: $color-grey-400;
      }
    }
  }

  .cropper-group {
    text-align: center;

    .cropper {
      .cropper-modal {
        background-color: rgba($color-black, .6);
      }

      .cropper-view-box {
        outline: 2px solid $color-foreground;
      }

      .cropper-face {
        opacity: 0;
      }
    }

    .mat-slider {
      width: 50%;
      max-width: 300px;

      .mat-slider-track-fill,
      .mat-slider-thumb,
      .mat-slider-thumb-label {
        background-color: $color-foreground;
      }

      .mat-slider-wrapper,
      .mat-slider-track-wrapper,
      .mat-slider-track-background,
      .mat-slider-track-fill,
      .mat-slider-ticks-container,
      .mat-slider-ticks {
        height: 3px;
      }
    }
  }

  .image-preview {
    margin: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
