.mat-slide-toggle {
  .mat-slide-toggle-bar {
    margin-right: 14px;

    .mat-slide-toggle-thumb {
      background-color: $color-foreground;
    }
  }

  .mat-slide-toggle-content {
    font-size: .9em;
    font-weight: $font-w-black;
    text-transform: uppercase;
  }

  &:not(.mat-checked) {
    .mat-slide-toggle-content {
      color: $color-grey-700;
    }
  }
}

.mat-form-field {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        padding: 10px 0;

        .mat-input-element {
          caret-color: $color-foreground;
        }

        .mat-form-field-label-wrapper {
          .mat-form-field-label {
            color: $color-grey-600;
            font-weight: $font-w-regular;

            .mat-placeholder-required {
              color: inherit;
            }
          }
        }
      }
    }

    .mat-form-field-underline {
      background-color: $color-grey-600;

      .mat-form-field-ripple {
        height: 1px;
      }
    }
  }

  &.mat-focused {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-infix {
          .mat-form-field-label-wrapper {
            .mat-form-field-label {
              color: $color-foreground;
              font-weight: $font-w-regular;
            }
          }
        }
      }

      .mat-form-field-underline {
        .mat-form-field-ripple {
          background-color: $color-foreground;
        }
      }
    }
  }
}

.mat-dialog-container {
  .mat-form-field.mat-form-field-appearance-outline {
    width: 100%;
    font-size: 13px;

    .mat-form-field-wrapper {
      margin: 5px 0 0;
      padding-bottom: 20px;

      .mat-form-field-flex {
        padding: 0 16px 0 16px;
        margin-top: -5px;

        .mat-form-field-outline {
          opacity: 1 !important;

          .mat-form-field-outline-start,
          .mat-form-field-outline-gap,
          .mat-form-field-outline-end {
            border-width: 1px;
          }
        }

        .mat-form-field-infix {
          textarea {
            min-height: 100px;
          }

          .mat-input-element {
            caret-color: currentColor;
            line-height: 1.4;
          }

          .mat-form-field-label-wrapper {
            .mat-form-field-label {
              color: $color-grey-600 !important;
              font-weight: $font-w-light;
            }
          }
        }
      }
    }

    &:not(.mat-form-field-invalid):not(.mat-focused) {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-outline {
            color: $color-grey-200;
          }
        }
      }
    }

    &.mat-form-field-invalid {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-infix {
            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                color: $color-warn !important;
              }
            }
          }
        }
      }
    }
  }
}

textarea {
  font-family: $font-family-base;
}
