.mat-menu-panel {
  box-shadow: $shadow-long;
  margin: 10px 0;

  .mat-menu-content {
    overflow: hidden;

    .mat-menu-item {
      padding-left: 20px;
      min-width: 230px;

      &:hover,
      &:focus {
        &:not([disabled]) {
          background-color: $color-grey-200;
        }
      }

      .mat-icon {
        margin-right: 20px;
      }
    }

    .mat-divider {
      border-color: $color-grey-400;
      border-top-width: .5px;
    }
  }
}

.mat-menu-panel.user-menu-panel {
  .mat-menu-content {
    padding: 0;

    .main,
    .action-buttons {
      padding: 15px;
    }

    .main {
      display: flex;
      align-items: flex-start;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
      }

      & > div {
        min-width: 0;
      }

      .user-info {
        .name {
          font-weight: $font-w-bold;
          font-size: 16px;
          color: $color-grey-700;
          @extend %ellipsis;

          .mat-icon {
            vertical-align: bottom;
            margin-right: 5px;
            font-size: 1em;
          }
        }

        .username {
          font-size: 12px;
          color: $color-grey-600;
          line-height: 2.5;
          @extend %ellipsis;
        }
      }

      .links {
        padding: 0;
        margin: 0;

        li {
          a {
            font-size: 14px;
            color: $color-primary;
            text-decoration: none;
            line-height: 1;
            margin: 0.4em 0;
            display: inline-block;
          }
        }
      }
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid $color-grey-400;
      border-width: 1px 0;

      a {
        color: $color-foreground;
        flex: 1 0;

        & + a {
          margin-left: 15px;
        }
      }
    }

    .list-items {
      padding: 7px 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          a {
            display: flex;
            align-items: center;
            font-size: 14px;
            text-decoration: none;
            color: $color-grey-600;
            padding: 7px 15px;

            &:hover,
            &:focus {
              background-color: $color-grey-100;
            }

            .mat-icon {
              font-size: 1em;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.mat-menu-panel.apps-menu-panel {
  max-width: none;

  .mat-menu-content {
    padding: 30px 15px;
    max-width: 280px;

    .apps {
      padding: 0;
      list-style: none;
      margin: -20px 0 0;

      li {
        display: inline-block;

        a {
          display: block;
          text-align: center;
          width: 70px;
          padding-top: 20px;
          text-decoration: none;

          img {
            width: 40px;
            height: 40px;
            border-radius: 8px;
          }

          .label {
            display: block;
            font-size: 11px;
            color: $color-grey-700;
            padding: 5px 3px 0;
            @extend %ellipsis;
          }
        }
      }
    }

    @media all and (min-width: $screen-tablet-small) {
      max-width: 340px;

      .apps {
        li {
          a {
            width: 85px;

            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
