@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
  overflow: auto;
  @include scrollbar;
}

.municipality-create {
  padding-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  form {
    #code {
      box-sizing: content-box;
      width: 5ch;
    }

    #logo {
      padding: 0;
    }

    .form-actions {
      margin-left: -$grid-gutter-width;
      margin-right: -$grid-gutter-width;
      padding-top: 3rem;
    }
  }
}
