<section class="sidenav-content panel-image-selector">
  <mat-toolbar>
    <button mat-icon-button appCloseSidenav>
      <mat-icon fontIcon="icon-cross"></mat-icon>
    </button>
    <span class="title">{{ 'imageSelector.editImage' | translate }}</span>
    <button mat-flat-button color="primary" [disabled]="!control.value" (click)="add()">
      {{ 'add' | translate }}
      <mat-icon fontIcon="icon-check"></mat-icon>
    </button>
  </mat-toolbar>
  <main>
    <div class="container-sidenav">
      <app-image-selector
        [formControl]="control"
        [aspectRatio]="data?.aspectRatio"
        [type]="data?.type || 'blob'"
        [crop]="!!data?.crop"
      ></app-image-selector>
    </div>
  </main>
</section>
