@import "../../../../../styles/base/variables";

.playlists-add {
  main {
    form {
      .playlist-cover {
        background-color: rgba($color-background, .25);
        margin: 0 0 40px 0;
        position: relative;

        img {
          width: 100%;
          display: block;
        }

        .edit-img-btn {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      mat-form-field,
      app-chips-autocomplete {
        width: 100%;
        margin-bottom: 15px;
        display: block;
      }

      .width-auto {
        width: auto;
        display: inline-block;
      }
    }
  }
}
